<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>晴境會發送療癒提醒和每日任務通知，幫助您保持心理健康</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationPreferredDefaultSceneSessionRole</key>
		<string>UIWindowSceneSessionRoleApplication</string>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UISceneSessionRoleImmersiveSpaceApplication</key>
			<array>
				<dict>
					<key>UISceneClassName</key>
					<string></string>
					<key>UISceneConfigurationName</key>
					<string></string>
					<key>UISceneDelegateClassName</key>
					<string></string>
					<key>UISceneInitialImmersionStyle</key>
					<string>UIImmersionStyleProgressive</string>
					<key>UISceneStoryboardFile</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
